<head>
  <script src="./views/cart/cartDetail.js"></script>
</head>
<br></br>
<br></br>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col d-flex justify-content-center"><strong>Product</strong></div>
    <div class="col d-flex justify-content-center"><strong>Item Price</strong></div>
    <div class="col d-flex justify-content-center"><strong>Quantity</strong></div>
    <div class="col d-flex justify-content-center"><strong>Price to Pay</strong></div>
  </div>
</div>
<div id="divCartDetail" class="container"></div>
